@{
    ViewBag.Title = "Index";
}
@section scripts
{
    <script>
        (function (ng) {

            ng.module('app', [])
                .controller('orderCtrl', ['$scope', '$http',
                    function ($scope, $http) {

                        $http.get('/order/GetOrder').then(function (response) {
                            if (response.status == 200) {
                                $scope.order = response.data;
                                var sum = 0;

                                $scope.order.OrderPositions.map(function (el) {
                                    return el.Product.Price * el.Count;
                                }).forEach(function (el) {
                                    sum += el;
                                });

                                $scope.totalSum = sum;
                            }
                        });

                        $scope.changePositionCount = function (orderPosition, step) {
                            orderPosition.Count += step;

                            $scope.totalSum += orderPosition.Product.Price * step;
                        }

                    }
                ]);


        })(angular);
    </script>
}

<h2>Index</h2>

<table ng-app="app" ng-controller="orderCtrl" class="table table-bordered">
    <thead>
        <tr>
            <td>Название</td>
            <td>Цена</td>
            <td>Количество</td>
            <td>Сумма</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="orderPosition in order.OrderPositions">
            <td ng-bind="orderPosition.Product.Name"></td>
            <td ng-bind="orderPosition.Product.Price"></td>
            <td><button ng-click="changePositionCount(orderPosition,1)">+</button><span ng-bind="orderPosition.Count"></span><button ng-click="changePositionCount(orderPosition,-1)">-</button></td>
            <td ng-bind="orderPosition.Count * orderPosition.Product.Price"></td>
            <td><button>Удалить</button></td>
        </tr>
        <tr>
            <td colspan="3">Итоговая сумма</td>
            <td ng-bind="totalSum"></td>
        </tr>
    </tbody>
</table>
